.page__content {
    display: grid;
    height: 100%;
    margin: 20px;
}

@media only screen and (max-width: 500px) {
    .page__wrapper {
        display: grid;
        grid-template-columns: auto;
    }
}